* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0px;
}

.hamburger {
    display: none;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions span {
    margin-right: 40px;
}

.login {
    height: 35px;
    width: 75px;
    text-align: center;
    display: grid;
    background-color: hsl(0, 94%, 66%);
    border-radius: 6px;
    place-items: center;
    color: white;
    font-weight: 400;
    /* font-family: ; */
}

.active-navbar {
    position: absolute;
    height: 0;
    display: none;
    overflow: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(231, 69%, 60%);
    transition: 1s;
}

.active-navbar span {
    font-size: 18px;
    color: white;
}

.active-navbar .break {
    margin: 40px 0px;
}

.active-navbar .login {
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
}

.active-navbar.active {
    height: 100vh;
    display: flex;
}


/*styling for hero section start*/

.hero-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 25px 0px;
    flex-wrap: wrap;
    position: relative;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    width: 420px;
}

.about h1 {
    margin-bottom: 25px;
}

.about p {
    font-weight: 400;
    color: rgb(145, 145, 145);
    margin-bottom: 25px;
    padding-right: 75px;
}

.about .hero-buttons {
    display: flex;
    justify-content: flex-start;
}

.getonfirefox-button {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background-color: rgb(233, 233, 233);
    width: 160px;
    border-radius: 3px;
}

.heroimage-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroimage-wrapper .heroimage {
    width: 480px;
    z-index: 12;
}


/*styling for hero section end*/

@media (min-width:350px) {
    .about h1 {
        padding: 0px 30px;
    }
    .features-wrapper {
        margin-top: 25px;
    }
    .features {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        max-width: 500px;
    }
    .features span {
        font-size: 22px;
        font-weight: 700;
    }
    .features p {
        font-weight: 400;
        color: hsl(229, 8%, 60%);
        padding: 15px 25px;
    }
    .tab {
        flex-direction: column;
        opacity: 0;
        transition: 650ms;
    }
    .tab.active {
        opacity: 1;
        transition: 650ms;
        display: flex;
    }
    .tab-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0 auto;
    }
    .tab-buttons div {
        font-size: 20px;
        font-weight: 200;
        margin: 15px;
        cursor: pointer;
        width: 100%;
        text-align: center;
    }
    .tab-left-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0px;
        padding: 0px 15px;
        width: 100%;
    }
    .tab-left {
        width: 300px;
    }
    .tab-right {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        max-width: 500px;
    }
    .tab-right span {
        font-size: 22px;
        font-weight: 700;
    }
    .tab-right p {
        font-weight: 400;
        color: hsl(229, 8%, 60%);
        padding: 10px 25px;
    }
    .download-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0px;
        padding: 0px 15px;
        width: 100%;
    }
    .download-section {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        max-width: 500px;
    }
    .download-section span {
        font-size: 22px;
        font-weight: 700;
    }
    .download-section p {
        font-weight: 400;
        color: hsl(229, 8%, 60%);
        padding: 15px 25px;
    }
    .download-options {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 25px 0px;
        margin-top: 0px;
        padding: 0px 15px;
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }
    .chrome {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        border-radius: 3px;
        padding: 10px 10px;
        box-shadow: 0px 11px 26px rgba(82, 82, 82, 0.19);
    }
    .chrome span {
        font-size: 22px;
        font-weight: 700;
        margin: 20px;
        margin-bottom: 0px;
    }
    .chrome p {
        font-weight: 400;
        color: hsl(229, 8%, 60%);
        padding: 5px 25px;
    }
    .getonchrome-button {
        max-width: 230px;
        padding: 5px 15px;
        margin: 0px;
        padding: 5px 20px;
        margin-right: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 35px;
        background-color: hsl(231, 69%, 60%);
        border-radius: 3px;
    }
    .faq-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .faq {
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 25px;
        max-width: 450px;
    }
    .que {
        font-size: 16px;
        font-weight: 400;
        display: flex;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
        margin: 0px;
        cursor: pointer;
        text-align: center;
        width: 100%;
        margin-bottom: 25px;
    }
    .answer {
        font-weight: 400;
        color: hsl(229, 8%, 60%);
        transition: 1s;
        padding: 0px 0px;
        height: 0px;
        overflow: hidden;
    }
    .answer.active {
        height: 150px;
    }
    .arrow.active {
        transform: rotateX(180deg);
    }
    footer {
        background-color: hsl(229, 31%, 21%);
        padding: 50px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width:700px) {
    .tab-buttons {
        flex-direction: row;
        justify-content: space-around;
    }
    .break {
        display: none;
    }
    .tab {
        display: flex;
        flex-direction: row;
    }
    .form {
        margin: 0 auto;
        max-width: 600px;
        padding: 0 60px;
    }
    footer {
        padding: 25px;
    }
    .footer {
        flex-direction: row;
    }
}

@media (min-width:950px) {
    .tab-left {
        width: 390px;
        height: 314px;
    }
    .tab {
        justify-content: center;
    }
    .tab-right {
        padding-right: 70px
    }
    .tab-left-wrapper {
        max-width: 600px;
        align-items: flex-end;
    }
    .download-options {
        flex-direction: row;
        justify-content: space-around;
    }
    .chrome:nth-child(2) {
        margin-top: 60px;
    }
    .chrome:nth-child(3) {
        margin-top: 120px;
    }
}

@media (max-width: 1200px) {
    .about-wrapper {
        width: 100%;
        order: 2;
    }
    .heroimage-wrapper {
        width: 100%;
        order: 1;
    }
    .about {
        text-align: center;
    }
    .about p {
        padding-right: 0px;
    }
    .about .hero-buttons {
        justify-content: center;
    }
}

@media (max-width: 700px) and (min-width: 500px) {
    nav {
        justify-content: space-between;
        padding-right: 25px;
        padding-left: 25px;
        position: relative;
    }
    .hamburger {
        display: block;
        order: 1;
    }
    .logo {
        order: 2;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .actions {
        order: 3;
    }
    .actions span {
        display: none;
    }
}


/*navbar css styling for mobiles*/

@media (max-width:499px) {
    nav {
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 20px;
    }
    .hamburger {
        display: block;
        order: 2;
    }
    .logo {
        order: 1;
    }
    .actions {
        display: none;
    }
    .heroimage-wrapper .heroimage {
        width: 300px;
    }
    .about {
        width: fit-content;
        padding: 0px;
    }
    .about p {
        padding: 15px 25px;
    }
    /* .getonchrome-button {
        width: 130px;
        font-size: 13px;
    } */
    .getonfirefox-button {
        width: 130px;
        font-size: 13px;
    }
}